<div class="info-left">
  <span class="title"><%=h @happening %></span>
  <span class="detail">
    by <%= link_to h(@happening.user), @happening.user %>
    <%= @happening.reminder? ? '&nbsp;|&nbsp; Reminder' : '' %>
  </span>
</div>
<div style="clear:both;margin-bottom:-10px;"> </div>

<blockquote>
  <p style="margin-top:0;font-weight:bold;">
    <%= time_stamp(@happening.date) %>
  </p>
  <%= bb(@happening.description) %>
</blockquote>