<% @bloggers ||= User.blog_authors %>
<% if @bloggers && @bloggers.size > 1 %>
  <div class="title"><%= link_to 'Authors', users_path %></div>
  <ul class="secondary-list">
    <% @bloggers.each do |user| %>
      <li><%= link_to h(user), user_articles_path(user) %> <span class="detail">(<%= user.articles_count %>)</span></li>
    <% end %>
  </ul>
<% end %>


<ul>
	<%- @spiel_tags.each do |spiel_tag|	-%>
		<%- if @previous_context == spiel_tag.context -%>

			<li><%= render :partial => "articles/spiel_tag", :object => spiel_tag %></li>

		<%- else -%>
			</ul><ul>
			<li><h2><%= spiel_tag.context %></h2></li>
			<li><%= render :partial => "articles/spiel_tag", :object => spiel_tag %></li>

		<%- end -%> 

	<%- @previous_context = spiel_tag.context -%>
		
	<%- end -%>
	
	
</ul>

<% @recent_articles = Article.get %>
<% if @recent_articles %>
  <div class="title"><%= link_to 'Recent Articles', blog_path %></div>
  <ul class="secondary-list">
    <% @recent_articles.each do |article| %>
      <li><%= link_to h(article), article %> <span class="detail">by <%=h article.user %></span></li>
    <% end %>
    <li class="detail"><%= link_to 'Blog Archives &raquo;', blog_archives_path, :class => 'text' %></li>
  </ul>
<% end %>