<%= error_messages_for :happening %>
<% form_for @happening do |f| %>
  <div class="box" id="box-happenings-edit">
    <span class="top">Edit Event</span>
    <p class="calendar_select"><%= f.calendar_date_select :date, :embedded => true %></p>
    <p class="label"><label for="happening_title">Title</label></p>
    <p><%= f.text_field :title, :class => 'text-field' %></p>
    <!-- <p class="label"><label for="happening_date">Date</label></p>
    <p><%#= f.datetime_select :date %></p> -->
    <p class="label"><label for="happening_description">Description</label></p>
    <p><%= f.text_area :description, :rows => '10', :class => 'text-field' %></p>
    <%= f.check_box :reminder %><label for="happening_reminder"> Reminder <span class="detail">(Show a reminder 6 hours before and 2 hours after this event.)</span></label>
    <p>
      <%= submit_tag 'Save Changes', :disable_with => 'Save Changes' %>&nbsp;
      <%= link_to 'Upload a New File', new_upload_path, :popup => ['height=520,width=820'] %> &nbsp; 
      <%= link_to 'Delete', @happening, :confirm => 'Are you sure?', :method => :delete %> &nbsp; 
      <%= link_to 'Cancel', @happening %>
    </p>
  </div>
<% end %>